body {
    margin: 0px;
    /*    background-color:black;*/
        
 
}

.start {
    /*    background-color: red;*/
    height: 100vh;
    width: 100vw;
    z-index: 3;
    position: absolute;
}

#section1 {}

#container {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
}


}

.left {
    box-sizing: border-box;
    height: 100vh;

    padding: 25px 100px 100px 25px;
    color: white;

}

.right {
    box-sizing: border-box;
    height: 100vh;

    padding: 100px;
    color: white;
}

.navbar {
    box-sizing: border-box;
    padding: 30px;
    position: fixed;
    z-index: 80;
    background-color: black;
    height: 220px;
    width: 35%;
    top: 0px;
    left: 0px;
    color: white;
text-decoration: none;
}

nav {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: black;
    color:white;
text-decoration: none;
}

nav a {
    display: inline-block;
    margin: 0px 20px 0px 20px;
    align-content: center;
    border-style: solid;
    border-color: grey;
    padding: 5px 15px;
    margin-bottom: 20px;
    text-decoration: none;

}

nav a:visited {
    text-decoration: none;
    color: white;

}

nav a:hover {
    text-decoration: none;
    color: white;
    border-color: white;
}

.description {
    font-size: 18px;
    color: rgba(255, 255, 255, 0);
    margin: 100px 70px 0px 70px;
}

/*OLD nav*/
/*
.what {
    display: inline-block;
    margin: 0px 40px 0px 40px;
    align-content: center;
    background-color: none;
    border-style: none;
    color: white;

}

.who {
    display: inline-block;
    margin: 0px 40px 0px 40px;
    align-content: center;
    background-color: none;
    border-style: none;
    color: white;
}

.why {
    display: inline-block;
    margin: 0px 40px 0px 40px;
    align-content: center;
    background-color: none;
    border-style: none;
    color: white;
}




.how {
    display: inline-block;
    margin: 0px 40px 0px 40px;
    align-content: center;
    background-color: none;
    border-style: none;
    color: white;
}
*/

.pagetitle {
    display: flex;
    font-size: 4vw;
    color: white;
    margin-top: -105px;
    margin-left: 12%;
    font-family: 'Pathway Gothic One', sans-serif;
}

#whopage {
    box-sizing: border-box;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 35% 65%;
    position: relative;
    /*    background-color: grey;*/
    height: 100vh;
    z-index;
    2;
}

.leftartists {
    /*    background-color:red;*/
}

.gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-row-gap: 0px;
    margin-left: 0px;
    margin-top: 130px;
    z-index: 80;
    background-color: black;
    margin-bottom: 400px;



}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galleryitem1 {
    margin-top: 100px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 7;
    bottom: 0px;
}

.galleryitem2 {
    margin-top: 100px;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;

}
.galleryitem3 {
    margin-top: 100px;
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 7;

}

#whypage {
    position: relative;
    /*    background-color: blue;*/
    height: 100vh;
    z-index:
        50;
}
.youtube {
    box-sizing:border-box;
    position: absolute;
    margin-left:640px;margin-top:100px;
  
  border-style:solid;
    border-color: black;
    border-width: 50px;
    background-color: black;
}

#howpage {
    position: relative;
    /*    background-color: grey;*/
    height: 100vh;
    z-index:
        79;
}

.sketch {
    box-sizing:border-box;
        background-color: white;
    height: 100vh;
    z-index:
        60;
   position: absolute;
    border-style:solid;
    border-color: black;
    border-width: 50px;
}


.start img {
    height:370vh;

    position: absolute;
    top: 0px;
    z-index: 1;
    margin:0px;
}

#myCanvas {
    box-sizing:border-box;
    position: relative;
  background-color:white;
   margin-left:360px;
     z-index:
        60;
      border-style:solid;
    border-color: black;
    border-width: 100px;
   
}

.controls { 
    position: absolute;
    z-index:
        100;
    margin-top:3700px;
    color:white;
    left:130px;
}

/*
.controls
{
  position:absolute;
  top:0px;
  left:700px;
  background-color:#2277dd;
  padding:5px;
  margin:2px;
  color:#fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
*/


/*.gallery img {width:100%; height;100%; object-fit: cover;}*/
